<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UMKM KALIGIRI - <%= active %></title>
    <%- include('../partials/css.ejs') %>
  </head>
  <body>
    <%- include('../partials/header-dashboard.ejs') %>
    <!--  -->
    <div class="container mt-3">
      <div class="row">
        <div class="col-md-6">
          <div class="card shadow">
            <div class="card-body">
              <h3>Detail Acara</h3>
              <table cellpadding="10">
                <tr>
                  <th>ID</th>
                  <td><%= data._id %></td>
                </tr>

                <tr>
                  <th>Nama Acara</th>
                  <td><%= data.name %></td>
                </tr>

                <tr>
                  <th>Tempat Acara</th>
                  <td><%= data.venue %></td>
                </tr>

                <tr>
                  <th>Deskripsi</th>
                  <td><%= data.description %></td>
                </tr>

                <tr>
                  <th>Tanggal Mulai Acara</th>
                  <td><%= data.start %></td>
                </tr>

                <tr>
                  <th>Tanggal Selesai Acara</th>
                  <td><%= data.end %></td>
                </tr>

                <tr>
                  <th>Lama Acara</th>
                  <td><%= `${Math.floor((new Date(data.end) - new Date(data.start))/(24*3600*1000))} Hari` %></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="my-5"></div>
  </body>
</html>
<%- include('../partials/js.ejs') %>
