<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Produk Kami</title>
    <%- include('partials/css.ejs') %>
  </head>
  <style>
    .item {
      transition: 0.2s;
    }
    .item:hover {
      opacity: 0.8;
    }

    .item-name {
      transition: 0.2s;
      transform: scale(0);
    }

    .item:hover .item-name {
      transform: scale(1);
    }

    a {
      text-decoration: none;
    }

    body {
      background-color: #cfddef;
    }
  </style>
  <body>
    <%- include('partials/header.ejs') %>
    <div class="container mt-5">
      <h2 class="text-center mb-3">Jadwal Acara</h2>
      <div class="row">
        <% data.forEach(e => { %>
        <div class="col-md-6 mb-3">
          <div class="card shadow">
            <div class="card-body">
              <small><%= new Date(e.createdAt).toLocaleDateString('id-ID') %></small>
              <h4><%= e.title %></h4>
              <p><%- e.body %></p>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
<%- include('partials/js.ejs') %>
