<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail Produk</title>
    <%- include('partials/css.ejs') %>
  </head>
  <body>
    <%- include('partials/header.ejs') %>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-5">
          <img src="<%= '/' + data.image %>" class="img-fluid img-thumbnail shadow" alt="" />
        </div>
        <div class="col-md-7">
          <h1 class="display-1"><%= data.name %></h1>
          <h2 class="display-6"><%= data.type %></h2>
          <table cellpadding="10">
            <tr>
              <th valign="top">Harga</th>
              <td><%= new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR' }).format(data.price) %></td>
            </tr>
            <tr>
              <th valign="top">Ukuran Produk</th>
              <td><%= data.size %></td>
            </tr>
            <tr>
              <th valign="top">Deskripsi Produk</th>
              <td><%- data.description %></td>
            </tr>
            <tr>
              <th valign="top">Link Online Shop</th>
              <td><a href="<%= data.link %>">Link</a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="container mt-3">
      <h3>Produk Lainnya</h3>
      <div class="row">
        <% products.forEach((e) => { %>
        <div class="col-md-4 me-3">
          <a href="/detail/product/<%= e._id %>" style="text-decoration: none" class="text-dark">
            <div style="background-image: url('/<%= e.image %>'); background-position: center; background-size: cover; height: 200px"></div>
            <h4><%= e.name %></h4>
          </a>
        </div>

        <% }) %>
      </div>
    </div>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
<%- include('partials/js.ejs') %>
