<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail Produk</title>
    <%- include('partials/css.ejs') %>
  </head>
  <body>
    <%- include('partials/header.ejs') %>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="<%= '/' + data.image %>" class="img-fluid" alt="" />
        </div>
        <div class="col-md-8">
          <h1><%= data.name %></h1>
          <h5><%= data.size %></h5>
          <h5><%= data.price %></h5>
          <p><%= data.description %></p>
        </div>
      </div>
    </div>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
<%- include('partials/js.ejs') %>
