<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UMKM KALIGIRI</title>
    <%- include('partials/css.ejs') %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Staatliches&display=swap" rel="stylesheet" />

    <style>
      .tns-controls {
        display: none;
      }

      body {
        background-color: #cfddef;
      }

      header {
        margin: 1% 5%;
      }
      .bebas {
        font-family: 'Bebas Neue', cursive;
      }

      a {
        text-decoration: none !important;
      }

      .css-4aovbb {
        transform: scale(0) !important;
      }
    </style>
  </head>
  <body>
    <%- include('partials/header.ejs') %>
    <!-- Content 1 -->
    <section class="mb-5">
      <div class="container">
        <div class="row align-items-end">
          <div class="col-md-3 bebas">
            <h1 style="font-size: 80px">Made by Kaligiri</h1>
          </div>
          <div class="col-md-9">
            <div class="my-slider">
              <% product.forEach((e) => { %>

              <div class="item">
                <a href="/detail/product/<%= e._id %>">
                  <img class="shadow rounded-1" src="<%= e.image %>" alt="" width="400" height="400" />
                </a>
              </div>
              <% }) %>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Content2 -->
    <section class="mb-5 bg-dark">
      <div class="container py-4">
        <div class="row align-items-center gy-4">
          <div class="col-md-3">
            <h3 class="text-white" style="font-size: 30px; letter-spacing: 5px; font-family: 'Staatliches', cursive">Jadwal Acara</h3>
          </div>
          <div class="col-md-9">
            <div class="my-slider2">
              <% schedule.forEach((e,i) => { %> <% const hari = Math.floor((new Date(e.start) - new Date())/(24*3600*1000)) %>
              <a href="/detail/schedule/<%= e._id %>">
                <div class="text-dark">
                  <div class="card">
                    <div class="card-body">
                      <b><%= `${e.start} s/d ${e.end}` %> </b>
                      <h3><%= `${i+1}. ${e.name}` %></h3>
                      <span class="badge bg-secondary"><%= hari > 0 ? `${hari} Hari Lagi` : `Sedang Berlangsung` %></span>
                    </div>
                  </div>
                </div>
              </a>
              <% }) %>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Content3 -->
    <section class="mb-5">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="d-flex flex-row">
              <div class="flex-grow-1"><h4>Pengumuman</h4></div>
              <div class="align-self-end"><a href="" class="btn btn-secondary">Selanjutnya</a></div>
            </div>
            <hr />
            <table>
              <% news.forEach((e,i) => { %>
              <tr>
                <td valign="top" class="small"><%= new Date(e.createdAt).toLocaleDateString('id-ID') %></td>
                <td class="ps-4 pb-3">
                  <b><%= e.title %></b> <br />
                  <small><%= e.body %></small>
                </td>
              </tr>
              <% }) %>
            </table>
          </div>
          <div class="col-md-7">
            <h4 class="text-center">Komunitas Kami</h4>
            <div data-mc-src="d2a54ecd-1cca-43da-bd4b-bc4660dceb5b#null"></div>

            <script src="https://cdn2.woxo.tech/a.js#62ce5b2f41fcb0c0f3549ce7" async data-usrc></script>
          </div>
        </div>
      </div>
    </section>
    <!--  -->

    <section>
      <div class="container">
        <div class="row gy-4">
          <div class="col-md-4">
            <div class="shadow-lg rounded-3" style="height: 400px; background-image: url('home/p1.jpeg'); background-size: cover; background-position: center"></div>
          </div>
          <div class="col-md-4">
            <div class="shadow-lg rounded-3" style="height: 400px; background-image: url('home/p2.jpeg'); background-size: cover; background-position: center"></div>
          </div>
          <div class="col-md-4">
            <div class="shadow-lg rounded-3" style="height: 400px; background-image: url('home/p3.jpeg'); background-size: cover; background-position: center"></div>
          </div>
          <% for(let i=0;i<3;i++){ %> <% } %>
        </div>
      </div>
    </section>

    <!--  -->
    <%- include('partials/footer.ejs') %>
  </body>
</html>
<%- include('partials/js.ejs') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
<script>
  var slider = tns({
    container: '.my-slider',
    autoplay: true,
    autoplayHoverPause: true,
    autoplayTimeout: 2000,
    autoHeight: true,
    autoWidth: true,
    nav: false,
    autoplayButtonOutput: false,
    speed: 500,
    gutter: 20,
    mouseDrag: true,
    center: true,
    preventScrollOnTouch: 'auto',
  })

  var slider2 = tns({
    container: '.my-slider2',
    nav: false,
    autoplayButtonOutput: false,
    mouseDrag: true,
    items: 3,
    gutter: 10,
    loop: false,
    responsive: {
      300: {
        items: 1,
      },
      900: {
        items: 3,
      },
    },
    preventScrollOnTouch: 'auto',
  })
</script>
