<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail Acara</title>
    <%- include('partials/css.ejs') %>
  </head>
  <style>
    body {
      background-color: #cfddef;
    }
  </style>
  <body>
    <%- include('partials/header.ejs') %>

    <div class="container mt-3">
      <h2 class="mb-5 text-center">Jadwal Acara</h2>
      <h3><%= data.name %></h3>
      <h5><%= data.start %> s/d <%= data.end %></h5>
      <table cellpadding="10">
        <tr>
          <th>Tempat Acara</th>
          <td><%= data.venue %></td>
        </tr>
        <tr>
          <th valign="top">Deskripsi</th>
          <td><%- data.description %></td>
        </tr>
      </table>
    </div>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
<%- include('partials/js.ejs') %>
